<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text"><img class="center-align" src="../images/Atos2.png" height="55" width="160"> Time
        Machine</h1>
    <br><br>
</div>


<div class="container">
    <div class="section">

        <h2 class="center">The Team</h2>

        <div class="row">
            <div class="col s36 m4">
                <div class="card">
                    <div class="card-content">
                        <!--<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>-->
                        <h5>Ryan Collins</h5>
                        <div class="row">
                            <h6 class="col m1">Roles:</h6>
                            <p class="col m3 push-m4">Team Leader; Client Liason</p>
                        </div>
                        <br>

                        <p class="light">I am the team leader and client liaison for this project, this means that I am
                            in charge of overseeing the project and making sure everyone knows what they should be doing
                            and when the deadline for doing this is. I am also responsible for trying to make sure that
                            we can maintain a good relationship with our client and we have all of the questions we
                            have, answered. I am hoping that fulfilling these roles will help to widen the range of
                            skills that I can offer to potential employers in the future, and will also help to produce
                            a good project for ATOS..</p>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card">
                    <div class="card-content">
                        <!--<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>-->
                        <h5>Jay Jeyaruban</h5>
                        <div class="col m4">
                            <div class="col m1"><h6>Roles:</h6></div>
                            <div class="col m3 push-m1"><p></p></div>
                        </div>
                        <div>
                            <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                                incorporate our custom components. Additionally, we refined animations and transitions
                                to provide a smoother experience for developers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s36 m4">
                <div class="card">
                    <div class="card-content">
                        <h5>Giorgio Arena</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                            incorporate our custom components. Additionally, we refined animations and transitions
                            to provide a smoother experience for developers.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">
        <h2 class="center">The Project</h2>
        <div class="card">
            <p class="card-content">The purpose of this project is re-design the current version of Time Machine which
                is software currently
                employed by ATOS. From their website ATOS is a company which is “focused on business technology that
                powers
                progress and helps organizations to create their firm of the future”, and Time Machine is the software
                that
                some departments of ATOS use to manage overtime payments however it was made quite some time ago, and is
                therefore missing some features which could improve its usability and its UI could also do with a
                redesign.
                At the end of the project, we aim to have a working prototype of an improved version of Time Machine
                which
                has a much more usable design and has additional features to ensure that there are a minimal amount of
                manual tasks. </p>
        </div>
    </div>
</div>


