<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Requirements</h1>
    <br><br>
</div>

<div>
    <div class="container">
        <div class="section">

            <h2 class="center">Initial Requirements</h2>

            <div class="center-align card">
                <div class="card-content left-align">
                    <ul class="browser-default">
                        <li>Redesign of current GUI to be more user friendly (making use of current logos and themes)
                        </li>
                        <li>User Logon feature which either makes use of the current network logon credentials or has a
                            password reset functionality in order allows users to access the website
                        </li>
                        <li>Ability to add permissions to certain users to limit sections of the website that they can
                            access
                        </li>
                        <li>Functionality to allow users with the correct permissions to be able to set up groups
                            showing a department's structure with the ability to assign roles i.e. engineer/team
                            manager/reporter/administrator
                        </li>
                        <li>Functionality to generate overtime reports based on the information selected by users using
                            simple filters, and the ability to send these monthly to users on request if they have the
                            correct permissions
                        </li>
                        <li>Functionality to generate the special claims form (again with the ability to send these
                            monthly to users with appropriate permissions) in the necessary format
                        </li>
                        <li>Functionality to be able to integrate with the current ESS system used to determine employee
                            pay
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section">

            <h2 class="center">MoSCoW Requirements</h2>
            <div class="card">
                <div class="card-content">
                    <table class="striped responsive-table">
                        <thead>
                        <tr>
                            <th data-field="requirement">Requirement</th>
                            <th data-field="type">Type</th>
                            <th data-field="category">Category</th>
                            <th data-field="priority">Priority</th>
                        </tr>
                        </thead>

                        <tbody>

                        <!--Login-->
                        <tr>
                            <td>Time machine shall have users logon to connect to the system using their current
                                credentials
                                (i.e. email).
                            </td>
                            <td>Functional</td>
                            <td>Login</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a database which stores these user’s accounts with their
                                passwords
                                hashed in order to access stored data related to them.
                            </td>
                            <td>Functional</td>
                            <td>Login</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall be able to assign different level of permission to users limiting
                                which
                                features they can access depending on what role they have in the company.
                            </td>
                            <td>Functional</td>
                            <td>Login</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a page for creating a new account upon a user’s first time using
                                the
                                site.
                            </td>
                            <td>Functional</td>
                            <td>Login</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a page to reset the password if the user has forgotten by
                                utilising
                                their ATOS email.
                            </td>
                            <td>Functional</td>
                            <td>Login</td>
                            <td>Should</td>
                        </tr>

                        <!--Standard User-->
                        <tr>
                            <td>Time machine shall be able to give the user of form to fill in when they want to submit
                                an
                                overtime request making use of textboxes and combo lists, and store these in a database.
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have the feature of adding favourite WBS codes which can be used when
                                submitting an overtime request, which can be chosen from a list.
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have the feature of being able to edit a user profile where they can
                                change
                                submit a request to change their name, address and email which can overseen by a user
                                with a
                                high level of permissions
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall email users once the pre-approved overtime has been completed
                                informing them
                                of the need to go on Time Machine and confirm the anticipated overtime specifics matches
                                up to
                                what happened.
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a tab which shows a summary of their overtime request and then
                                for each
                                request a link to page which enables them to enter the details of what actually and a
                                textbox to
                                supply a comment explaining any difference in time.
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a tab which shows all of the overtime requests that have been
                                approved and confirmed by the user.
                            </td>
                            <td>Functional</td>
                            <td>Standard User</td>
                            <td>Should</td>
                        </tr>

                        <!--Team leader-->
                        <tr>
                            <td>Time machine will be able to allocate certain users with the correct permissions as an
                                approved for a selection of other users.
                            </td>
                            <td>Functional</td>
                            <td>Team Leaders</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a tab for approvers to see the overtime requests of the users
                                they’re overseeing with a button to begin processing these requests.
                            </td>
                            <td>Functional</td>
                            <td>Team Leaders</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a page for the approvers which show a summary of other users
                                overtime request and then radio buttons to decide whether or not to approve the request
                                with space to add comment before they submit.
                            </td>
                            <td>Functional</td>
                            <td>Team Leaders</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine shall allow approvers to generate overtime reports based on the information
                                selected by users using simple filters specifically the date, and the ability to send
                                these monthly to users on request.
                            </td>
                            <td>Functional</td>
                            <td>Team Leaders</td>
                            <td>Should</td>
                        </tr>

                        <!--Administrators-->
                        <tr>
                            <td>Time machine will be able to allocate certain users with the correct permissions as an
                                administrator.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will have a page for administrators to view and edit all users, as well as
                                the ability to create new users specify emails which can be used when creating accounts
                                and what roles these users will have as well as their personal information.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will allow administrators to transfer users from one group i.e the
                                supervision of one approver (team leader) to another.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will allow administrators to control the payment options for roles and if
                                need be individual users.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will allow administrators to see an overview of all the team/groups will
                                the ability to edit it.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>Time machine will be able to link approved overtime requests to ESS with the payment
                                changes by administrators noted as well.
                            </td>
                            <td>Functional</td>
                            <td>Administrators</td>
                            <td>Could</td>
                        </tr>

                        <!--Other-->
                        <tr>
                            <td>Time machine will allow users to complete each task within 5 clicks.</td>
                            <td>Non-Functional</td>
                            <td>Ease of Use</td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>Time machine will have an uptime of at least 99%.</td>
                            <td>Non-Functional</td>
                            <td>Availability</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will make sure users do not need to spend more than 5 minutes on completing
                                tasks.
                            </td>
                            <td>Non-Functional</td>
                            <td>Ease of Use</td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>Time machine shall support the latest versions of Chrome, Safari, Firefox, and Internet
                                Explorer.
                            </td>
                            <td>Non-Functional</td>
                            <td>Performance</td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>Time machine will be able to scale and resize for mobile and other devices.</td>
                            <td>Non-Functional</td>
                            <td>Ease of Use</td>
                            <td>Could</td>
                        </tr>
                        <tr>
                            <td>Time machine shall have a method of getting text based help which can help navigate and
                                utilise site, which can be accessed on every page.
                            </td>
                            <td>Non-Functional</td>
                            <td>Ease of Use</td>
                            <td>Must</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>