<div>
    <div class="container">
        <div class="section">

            <h2 class="center">Requirements</h2>

            <div class="center-align card">
                <div class="card-content left-align">
                    <ul class="browser-default">
                        <li>Redesign of current GUI to be more user friendly (making use of current logos and themes)
                        </li>
                        <li>User Logon feature which either makes use of the current network logon credentials or has a
                            password reset functionality in order allows users to access the website
                        </li>
                        <li>Ability to add permissions to certain users to limit sections of the website that they can
                            access
                        </li>
                        <li>Functionality to allow users with the correct permissions to be able to set up groups
                            showing a department's structure with the ability to assign roles i.e. engineer/team
                            manager/reporter/administrator
                        </li>
                        <li>Functionality to generate overtime reports based on the information selected by users using
                            simple filters, and the ability to send these monthly to users on request if they have the
                            correct permissions
                        </li>
                        <li>Functionality to generate the special claims form (again with the ability to send these
                            monthly to users with appropriate permissions) in the necessary format
                        </li>
                        <li>Functionality to be able to integrate with the current ESS system used to determine employee
                            pay
                        </li>
                        <li>Possibility of also having a mobile application with the functionality as the website which
                            able to meet the necessary security policies
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>