<div class="light-blue lighten-1 white-text">
    <div class="container section">
        <div class="section">

            <h2>The Project</h2>
            <div class="divider"></div>
            <p>The purpose of this project is re-design the current version of Time Machine
                which
                is software currently
                employed by ATOS. From their website ATOS is a company which is “focused on business technology that
                powers
                progress and helps organizations to create their firm of the future”, and Time Machine is the
                software
                that
                some departments of ATOS use to manage overtime payments however it was made quite some time ago,
                and is
                therefore missing some features which could improve its usability and its UI could also do with a
                redesign.
                At the end of the project, we aim to have a working prototype of an improved version of Time Machine
                which
                has a much more usable design and has additional features to ensure that there are a minimal amount
                of
                manual tasks. </p>

            <h5>Client Information</h5>
            <p>ATOS is a company which is “focused on business technology that powers progress and helps
                organizations to create their firm of the future”, and works with clients across different
                business sectors: Defense, Financial Services, Health, Manufacturing, Media, Utilities, Public
                sector, Retail, Telecommunications, and Transportation.</p>

            <h5>Problem Definition</h5>
            <p>The process for managing overtime could be made less ‘Administration’ intensive given the right
                tool. Ideally any application used for overtime would be linked into ESS and either produces an
                approved Special Claims form which can be submitted to HR or ties into payroll etc once approved
                by a Team Leader etc. This would give a ‘one stop shop’ for engineers and managers so produce
                and manage overtime requests through to submission.
            </p>
        </div>
    </div>
