<div class="light-blue lighten-1 white-text">
    <div class="container section">
        <h2 class="center">The Project</h2>
        <p>The purpose of this project is re-design the current version of Time Machine
            which
            is software currently
            employed by ATOS. From their website ATOS is a company which is “focused on business technology that
            powers
            progress and helps organizations to create their firm of the future”, and Time Machine is the
            software
            that
            some departments of ATOS use to manage overtime payments however it was made quite some time ago,
            and is
            therefore missing some features which could improve its usability and its UI could also do with a
            redesign.
            At the end of the project, we aim to have a working prototype of an improved version of Time Machine
            which
            has a much more usable design and has additional features to ensure that there are a minimal amount
            of
            manual tasks. </p>
    </div>
</div>