<!-- Footer Start -->

<footer class="page-footer teal fixed">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Accolades</h5>
                <ul>
                    <li>
                        <a class="white-text"
                           href="https://www.cms.gov/Research-Statistics-Data-and-Systems/CMS-Information-Technology/XLC/Downloads/SelectingDevelopmentApproach.pdf"
                           target="_blank">CMS</a></li>
                    <li><a class="white-text" href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
                    <li><a class="white-text" href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                    <li>
                        <a class="white-text"
                           href="https://docs.microsoft.com/en-us/aspnet/core/#build-web-ui-and-web-apis-using-aspnet-core-mvc"
                           target="_blank">Microsoft</a></li>
                    <li><a class="white-text" href="https://uk.atos.net/en-uk/home.html" target="_blank">ATOS</a></li>
                </ul>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Biweekly Reports</h5>
                <ul>
                    <li><a class="white-text"
                           href="https://docs.google.com/document/d/1tx0pmLRZE4RZby07I-bL01cnztbZEeV7zFHNJzchCA0"
                           target="_blank">12/10/2016</a></li>
                    <li><a class="white-text"
                           href="https://docs.google.com/document/d/1h0_8CRuApI9n4V0DEOgf-Uah8vBLOq2F20pLlwKWq3c"
                           target="_blank">28/10/2016</a></li>
                    <li><a class="white-text"
                           href="https://docs.google.com/document/d/1I9c4WwxtuN11u64bdrsZ8m67RBRk1Ombr153coM1_Cc/"
                           target="_blank">18/11/2016</a>
                    </li>
                    <li>
                        <a class="white-text"
                           href="https://docs.google.com/document/d/1py0Yt9w4F3AYteg14Z1dICWHzn09l1gYkJlkfAqa5lg"
                           target="_blank">02/12/2016</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://github.com/JayJeyaruban" target="_blank">Jay
            Jeyaruban</a>, <a class="brown-text text-lighten-3" href="https://github.com/TheRurry" target="_blank">Ryan
            Collins</a>, <a class="brown-text text-lighten-3" href="https://github.com/giorgio-arena" target="_blank">Giorgio
            Arena</a>
        </div>
    </div>
</footer>
<!-- Footer End -->
