<!-- Intro Start -->

<nav class="navbar-fixed">
    <nav class="light-blue darken-1" role="navigation">
        <div class="nav-wrapper container">
            <div class="brand-logo left active waves-effect wave-light">
                <a id="logo-container"
                   href="{{ site.baseurl }}/">Group
                    20</a></div>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/orgs/ATOS-Time-Machine/" target="_blank">Github</a></li>
                <li><a href="{{ site.baseurl }}/planning.html">Planning</a></li>
                <li><a href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
                <li><a class="dropdown-button" data-activates="research_dropdown" data-beloworigin="true">Research<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li><a class="dropdown-button" data-activates="prototype_dropdown" data-beloworigin="true">Prototypes<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li><a href="{{ site.baseurl }}/testing.html">Testing</a></li>
            </ul>
        </div>
    </nav>
</nav>

<ul id="research_dropdown" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/dev_methods.html">Development Methods</a></li>
    <li><a href="{{ site.baseurl }}/technical.html">Technical Report</a></li>
</ul>

<ul id="prototype_dropdown" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/ui.html">UI Mockups</a></li>
    <li><a href="{{ site.baseurl }}/database.html">Database</a></li>
</ul>

<!-- Intro End -->
