
<!-- Intro Start -->

<nav class="navbar-fixed">
  <nav class="light-blue darken-1" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo left active waves-effect wave-light"><a id="logo-container"
                                                                     href="{{ site.baseurl }}/index.html">Group 20</a></div>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/orgs/ATOS-Time-Machine/" target="_blank">Github</a></li>
        <li><a href="{{ site.baseurl }}/background.html">Background</a></li>
        <li><a href="{{ site.baseurl }}/requirements.html">Requirements</a></li>
        <li><a href="{{ site.baseurl }}/research.html">Research</a></li>
        <li><a href="{{ site.baseurl }}/prototype.html">Prototype</a></li>
      </ul>


    </div>
  </nav>
</nav>

<!-- Intro End -->
