<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}


<header>
    <div class="light-blue lighten-1 ">
        <br><br>

        <h1 class="center white-text">Development Methods</h1>
        <br><br>
    </div>
</header>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a class="breadcrumb">Research</a>
            <a href="" class="breadcrumb">Development Methods</a>
        </div>
    </div>
</nav>

<div class="container section">
    <div class="section">
        <h4>Introduction</h4>
        <p>
            Before beginning the process of developing our application we need to decide on a development method so
            that we spend our time as efficiently as possible. Due to the structure of this project and the fact
            that it is necessary to development using an incremental process we will be looking at the following
            development methods: spiral development, rapid application development and agile development.
        </p>
    </div>

    <div class="card row">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#spiral">Spiral</a></li>
            <li class="tab"><a href="#rapid">Rapid Application</a></li>
            <li class="tab"><a href="#agile">Agile</a></li>
        </ul>
    </div>


    <div id="spiral" class="col">
        <p>
            Spiral Development is focused around repeating the same four steps until the project reaches the
            desirable
            state whether this be a working proof of concept or ready for deployment. The four steps that it focuses
            on
            are:
        </p>
        <ul class="browser-default">
            <li>Determine the objective of this iteration (based on the requirements), and any constraints which are
                going to be placed on this iteration.
            </li>
            <li>Identify and evaluate any alternative approaches to how to iteration could be carried out.</li>
            <li>Develop and verify the deliverables based on the objectives set in the first step, until all have
                been
                completed.
            </li>
            <li>Evaluate the development of this first iteration and begin planning the next iteration going back to
                the
                first step.
            </li>
        </ul>
    </div>

    <div id="rapid">
        <p>
            Rapid application development is mainly focused on rapid development of prototypes with the planning
            interleaved with the writing of the program or software, planning specifics per each section of the
            codebase, the steps that it focuses on after determining the requirements are as follows:
        </p>
        <ul class="browser-default">
            <li>Create preliminary data models and interface mappings.</li>
            <li>Start the creation of a prototype which verifies the requirements being worked on utilizing the data
                models and mappings for the interface.
            </li>
            <li>Repeat these stages until the software is a working proof of concept or ready for deployment.</li>
        </ul>
    </div>

    <div id="agile">
        <p>
            Agile Development describes a set of principles for team contribution to an iterative project. It can be
            used as an umbrella term for a set of methods which can be used to optimise team contribution, where
            iterating through the software development process. The method that we have decided to look at is one of
            the
            most popular methods call scrum. Scrum is a framework which allows software to be developed under a
            feedback
            driven empirical approach. It is based upon the three pillars of transparency, inspection, and
            adaptation
            for all parties involved which mainly focus around 4 centre roles:
        </p>
        <ul class="browser-default">
            <li>The scrum master is in charge of making sure that the development team faces no obstacles or
                distractions to each increment (or sprint).
            </li>
            <li>The development team is in charge of fulfilling their hired role and delivering each increment of
                the
                software improving upon the last increment.
            </li>
            <li>The product owner represents the client and the voice of any other customers who define and agree
                upon
                the requirements which have to be met at the end of the development process, but also offer a
                guiding
                influence on new ideas or more ideal changes per sprint.
            </li>
        </ul>
    </div>

    <div class="section">
        <h4>Conclusion</h4>
        <p>
            We have decided on using agile development as all of the group members want to maintain a level of
            flexibility in the development process being able to make changes as needs arise, and being able to show
            the
            project in stages to our client and make progress based of all the feedback we get.
        </p>
    </div>

</div>

{% include footer.html %}

{% include js.html %}

</body>
</html>
