<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}

<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Planning</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Planning</a>
        </div>
    </div>
</nav>


<div class="container section">
    <p>Now that we have a full set of requirements (which are still subject to change) that our client has agreed on, as
        well as several back-end experiments and user interface prototypes complete, we can now shift into fully
        focusing on developing the system including setting up a cloud server, and completing more programming for our
        back-end and front-end plus how we intend to integrate the two. Due to the fact that our client is more
        interested in us generating new ideas we will foremostly focused on our priority requirements, and work in them
        in terms of their priority.</p>

        <p>As we started with the beginning of our experiments we will continue to use and adapt an agile approach keeping
        in mind the idea of scrum roles. We intend to stick to a bi-weekly sprint structure as we feel that this time
        frame will be enough time to have made substantial progress in order to demonstrate the progress that we have
        made to our client. Throughout development we will constantly conducting various different tests which include
        the unit testing which will automatically be carried out by making use of PHPUnit and Unit.js so that we will
        have testing done on both the front-end and back-end components. If and when we want to test the integration
        will be making use of the testing framework selenium in order to ensure that the front-end and back-end both
        operate together. Prior to the meeting we will be having with our clients at the end of each sprint we will
        ensure that we have prepared user acceptance tests so we confirm that the project is taking the right direction,
            and make sure we have a formal approval from our clients.</p>

        <p>After completing all of the requirements including functional + non-functional up to the ones that we said we
        could have, providing we have sufficient time to do within or schedule, we will prepare a more comprehensive set
        of user acceptance tests, and then ask them if there is any further requirements or features that they feel
        should be present in the final website. If it turns out that they no longer have any further requests we will
        then ourselves generating more innovative ideas which could improve the system, as well modifications and
        improvements to the user interface since this is what our clients have said that they are mainly looking for in
        this project. </p>
</div>

{% include footer.html %}

{% include js.html %}

</body>
</html>
