<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151" class="white">

{% include navigation.html %}

<div class="light-blue lighten-1">
    <br><br>

    <h1 class="center white-text">Prototype</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Prototype</a>
        </div>
    </div>
</nav>

<div class="section container">
    <h2>Initial UI Design</h2>
    <div class="card row">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#login">Login</a></li>
            <li class="tab"><a href="#user">User Profile</a></li>
            <li class="tab"><a href="#homepage">Homepage</a></li>
            <li class="tab"><a href="#over_request">Overtime Request</a></li>
            <li class="tab"><a href="#over_confirm">Overtime Confirmation</a></li>
        </ul>
    </div>

    <div id="login">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/login/login.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/login/signup.png">
                </li>
            </ul>
        </div>
    </div>

    <div id="user">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/profile/profile1.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/profile/profile2.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/profile/profile3.png">
                </li>
            </ul>
        </div>
    </div>

    <div id="homepage">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/homepage/homepage.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/homepage/profile_icon.png">
                </li>
            </ul>
        </div>
    </div>

    <div id="over_request">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request1.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request2.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request3.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request4.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request5.png">
                </li>
            </ul>
        </div>
    </div>

    <div id="over_confirm">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ confirmation/confirm1.png">
                </li>
                <li>
                    <img src="{{ site.baseurl }}/img/wireframes/overtime\ confirmation/confirm2.png">
                </li>
            </ul>
        </div>
    </div>

</div>

{% include js.html %}
</body>
</html>

<!-- Index Layout End -->
