<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151" class="white">

{% include navigation.html %}

<div class="light-blue lighten-1">
    <br><br>

    <h1 class="center white-text">Prototype</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Prototype</a>
        </div>
    </div>
</nav>

<div class="section container">
    <h2>Initial UI Design</h2>
    <div class="divider"></div>
    <p class="section">
        Before working on the user interface we found it important that we have a design in mind, as it can take a lot
        of time to change in an coded prototype. We straight away went into developing a higher fidelity user interface
        prototype and skip making sketches as we could already partially base the design on what we saw in the user
        guide.
    </p>
    <div class="card row">
        <div class="card-content">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#login">Login</a></li>
                <li class="tab"><a href="#user">User Profile</a></li>
                <li class="tab"><a href="#homepage">Homepage</a></li>
                <li class="tab"><a href="#over_request">Overtime Request</a></li>
                <li class="tab"><a href="#over_confirm">Overtime Confirmation</a></li>
            </ul>

            <br>

            <div id="login">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/login/login.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/login/signup.png">
                        </li>
                    </ul>
                </div>
            </div>

            <div id="user">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/profile/profile1.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/profile/profile2.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/profile/profile3.png">
                        </li>
                    </ul>
                </div>
            </div>

            <div id="homepage">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/homepage/homepage.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/homepage/profile_icon.png">
                        </li>
                    </ul>
                </div>
            </div>

            <div id="over_request">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request1.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request2.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request3.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request4.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ request/request5.png">
                        </li>
                    </ul>
                </div>
            </div>

            <div id="over_confirm">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ confirmation/confirm1.png">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/img/wireframes/overtime\ confirmation/confirm2.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>

<div class="light-blue lighten-1">
    <div class="section container">
        <h2 class="white-text">Database Creation</h2>
        <div class="divider"></div>

        <div class="card row">
            <div class="card-content">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#schema">Schema</a></li>
                    <li class="tab"><a href="#code">Code</a></li>
                </ul>

                <br>

                <div id="code">
                    <iframe src="https://drive.google.com/file/d/0B7PFGHt-zxyBSU5kZ0NmeTVpdE0/preview" width=100%
                            height=480px></iframe>
                </div>

                <div id="schema">
                    <iframe src="https://drive.google.com/file/d/0B7PFGHt-zxyBM2hXdUptYnZhVFE/preview" width=100%
                            height="480"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% include js.html %}
</body>
</html>

<!-- Index Layout End -->
