<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151" class="white">

{% include navigation.html %}

<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Research</h1>
    <br><br>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel hoverable">
                <a class="modal-trigger" href="#dev_modal">
                    <h4 class="center black-text">Development Methods</h4>
                </a>
            </div>
        </div>
    </div>
</div>

{% include development.html %}

{% include js.html %}
</body>
</html>

<!-- Index Layout End -->
