<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151" class="white">

{% include navigation.html %}


<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Research</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/index.html" class="breadcrumb">Home</a>
            <a href="{{ site.baseurl }}/research.html" class="breadcrumb">Research</a>
        </div>
    </div>
</nav>
<div class="container section">
    <div class="centre">
        <div class="col s12 m5">
            <a href="{{ site.baseurl }}/dev_methods.html">
                <div class="card-panel hoverable">

                    <h4 class="center black-text">Development Methods</h4>
                </div>
            </a>
        </div>

        <div class="col s12 m5">
            <a href="{{ site.baseurl }}/technical.html">
                <div class="card-panel hoverable">

                    <h4 class="center black-text">Technical Investigation</h4>
                </div>
            </a>
        </div>
    </div>
</div>


{% include js.html %}
</body>
</html>

<!-- Index Layout End -->
