<!-- 404 Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}

<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Testing & Toolchain</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Testing & Toolchain</a>
        </div>
    </div>
</nav>

<div class="container section">
    <h3>Testing</h3>
    <div class="divider"></div>
    <p>
        In order to make sure that our project adheres to the requirements elicited from our client, we will be putting
        a great deal of focus on testing ensuring that it upheld throughout the development process. The following
        details on this page explore the testing strategies that we will be employing.
    </p>
    <br>

    <h4>Unit Testing</h4>
    <p>
        Unit testing is a method of testing which can be utilised to test individual components of the system. We will
        be setting up these unit tests to operate automatically alongside our automatic deployment from github whenever
        there is a push to the main branch, ensuring that this push did not cause any damage to the web application. In
        order to conduct these unit tests automatically we plan to make use of several different unit testing
        frameworks. For the PHP + MYSQL backend we plan on utlising PHPUnit which is a popular PHP unit testing
        framework which produces HTML reports with code coverage. For our front-end we plan on using Unit.js which is a
        unit testing framework for javascript which works with any other testing framework and assertion library which
        will provide more flexibility for later in development.
    </p>
    <br>

    <h4>Integration & Functional Testing</h4>
    <p>
        We will also using integration testing to make sure that all of the components within our system interconnect
        and function appropriately. Functional testing will be carried out in order to make sure that the system adheres
        to the functional requirements in order to produce a satisfactory web application for our clients. We have
        decided to accomplish this by using Selenium which is a commonly used open-source testing framework tailored
        towards testing web applications. This will allow us to send specific commands to the browser when our web
        application is open such that we can test the result and make sure its behaviour is as expected.
    </p>
    <br>

    <h4>User Acceptance Testing</h4>
    <p>
        Our main goal with this project is to ensure that we create a web application that our clients are clients are
        content with. In order to this we will maintaining consistent communication with our clients. We plan to
        incorporate user acceptance testing into our bi-weekly sprints as soon as we get the user interface to a stage
        where it will be easy for our clients to use. We’ll make to have test scenarios so we can focus down the
        features that they are testing and make sure they are aware of what we want them to accept.
    </p>
    <br>
</div>

<div class="section light-blue lighten-1">
    <div class="container">

        <h3 class="white-text">Toolchain</h3>
        <div class="divider"></div>

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#browsers">Browsers</a></li>
                        <li class="tab"><a href="#techs">Technologies</a></li>
                        <li class="tab"><a href="#deploy">Deployment & Automation</a></li>
                        <li class="tab"><a href="#editors">Text Editors</a></li>
                        <li class="tab"><a href="#design">Design & Graphical Software</a></li>
                        <li class="tab"><a href="#version">Version Control</a></li>
                    </ul>
                </div>

                <div id="browsers">
                    <ul class="browser-default">
                        <li>Chrome</li>
                        <li>Safari</li>
                        <li>Edge</li>
                        <li>Firefox</li>
                    </ul>
                    <p>We decided that we would try and keep our web application flexible and able to be used all of the
                        most web browsers which are still being developed. This will allow our clients more flexibility
                        in choosing the web browsers they want to use, especially if they change later on after
                        development has been completed.</p>
                </div>

                <div id="techs">
                    <ul class="browser-default">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>MYSQL</li>
                        <li>NodeJS</li>
                    </ul>
                    <p>We choose programming languages that we were already comfortable with because our client’s gave
                        us free reign on which language to use. The combination of these languages will easily allow us
                        to program both our front-ends and back-ends with the addition of the fact that PHP was designed
                        to be able to be integrated with HTML and Javascript.</p>
                </div>

                <div id="deploy">
                    <ul class="browser-default">
                        <li>Cloud Server- Azure</li>
                        <li>Script for automatic build for each version control push</li>
                        <li>Script for automatic restart on server reboot</li>
                        <li>Script for automatic database backups</li>
                        <li>Script for automating unit tests for each build</li>
                        <li>Script for moving staging build to production server</li>
                    </ul>
                    <p>We decided to use Azure as a Cloud Server as one of our team members has had previous experiences
                        using it. We also compared Azure service with the Amazon EC2, and we found the first one to be
                        easier to use and more suitable for this project’s goals. We chose to write scripts for automise
                        version control push, reboots, backups creation and unit test as it will save us time and it
                        will best prevent human errors.
                    </p>
                </div>

                <div id="editors">
                    <ul class="browser-default">
                        <li>Sublime Text 3</li>
                        <li>Atom</li>
                        <li>WebStorm</li>
                    </ul>
                    <p>Each of our group members will most likely be using different text editors according to what they
                        are most useful which in terms of this project we felt would be most useful as using what you
                        are comfortable with will make it easier to develop more efficiently. Due to the nature of using
                        HTML, Javascript and PHP, the fact that we are using different text editors will not make any
                        difference and will just provide more convenience for us.
                    </p>
                </div>

                <div id="design">
                    <ul class="browser-default">
                        <li>Balsamiq Mockups</li>
                    </ul>
                    <p>In order to create our wireframes to be a high fidelity representation of our user interface
                        designs we decided to use Balsamiq. This enables to quickly create high quality wireframes where
                        we can easily demonstrate how we are consider design principles and gearing our interface to
                        stand up to Nielsen Heuristics. This also means that our clients will be able to have a better
                        idea of the direction we’re taking.
                    </p>
                </div>

                <div id="version">
                    <ul class="browser-default">
                        <li>Git (Github)</li>
                    </ul>
                    <p>For our version control we decided to use github since all of our team members have had previous
                        experience with it before, and our clients did not mind where we host our repository. Github is
                        a version control system which works with git allowing all of the contributors to push to the
                        same repository allowing this project to be more of a collaborative effort. We also chose to use
                        Github over other version control system because of the broad community and wide amount of
                        support meaning anyone else who might want to on this project at a later date will easily be
                        able to do so.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% include js.html %}

</body>
</html>

<!-- 404 Layout End -->
