
<!-- 404 Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}

<div class="light-blue lighten-1 ">
    <br><br>

    <h1 class="center white-text">Testing</h1>
    <br><br>
</div>

<nav>
    <div class="nav-wrapper">
        <div class="container col">
            <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Testing</a>
        </div>
    </div>
</nav>

{% include js.html %}

</body>
</html>

<!-- 404 Layout End -->
